[gcode_macro CASELIGHT_OFF]
gcode:
    SET_PIN PIN=caselight VALUE=0.00

[gcode_macro CASELIGHT_ON]
variable_caselight_intensity: 0.35
gcode:
    # Parameters and settings
    {% set caselight_intensity = params.CASELIGHT_INTENSITY|default(0.35)|float %}  

    SET_PIN PIN=caselight VALUE=S{caselight_intensity}